// .App {
//   text-align: center;
// }

// .App-logo {
//   height: 40vmin;
//   pointer-events: none;
// }

// @media (prefers-reduced-motion: no-preference) {
//   .App-logo {
//     animation: App-logo-spin infinite 20s linear;
//   }
// }

// .App-header {
//   background-color: #282c34;
//   min-height: 100vh;
//   display: flex;
//   flex-direction: column;
//   align-items: center;
//   justify-content: center;
//   font-size: calc(10px + 2vmin);
//   color: white;
// }

// .App-link {
//   color: #61dafb;
// }

// @keyframes App-logo-spin {
//   from {
//     transform: rotate(0deg);
//   }
//   to {
//     transform: rotate(360deg);
//   }
// }
[data-theme="light"] {
	--font-color: #0077ff;
	--header-color: #333333;
	--color-headings: #0077ff;
}

[data-theme="dark"] {
	--font-color: #596691;
	--header-color: #eeeeee;
	--color-headings: #3694ff;
}

.App {
}

.canvas {
	display: block;
	width: 100%;
	height: 100%;
	border: 1px solid;
	position: absolute;
}

.context-menu {
	color: var(--font-color);
	background-color: var(--background-color);
	width: 200px;
	height: 170px;
	border: var(--background-color) 2px solid;
}

.context-menu-option {
	border: var(--font-color) 1px solid;
	padding: 10px;
	margin-bottom: 2px;
	cursor: pointer;

	&:hover {
		background-color: var(--hover-color);
	}

	&:last-child {
		margin-bottom: 0;
	}
}

.context-menu-arrow {
	display: flex;
	justify-content: space-between;
}
