// $small: 320px;
// $medium: 768px;
// $large: 1024px;

// [data-theme="light"] {
// 	--header-color: #6002ee;
// 	--button-color: #eeeeee;
// 	--button-hover-color: #dddddd;
// 	--color-headings: #0077ff;
// }

// [data-theme="dark"] {
// 	--header-color: #eeeeee;
// 	--button-color: #eeeeee;
// 	--font-color: #eeeeee;
// 	--button-hover-color: #dddddd;
// 	--color-headings: #3694ff;
// }

@import "Variables";

.navbar {
	background-color: var(--header-color);
	padding: 1.5em;
	display: grid;
	grid-template-columns: repeat(16, 1fr);
	grid-template-rows: 50px;
	column-gap: 1em;
	row-gap: 1em;

	@media screen and (max-width: $small) {
		grid-template-columns: repeat(3, 1fr);
		grid-template-rows: repeat(2, 50px);
		padding-bottom: 2em;
	}

	@media screen and (max-width: $extra-large) {
		grid-template-columns: repeat(3, 1fr);
		grid-template-rows: 50px;
	}
}

.dropdown-container {
	text-align: center;
	z-index: 10;
	border: var(--font-color) 1px solid;
	border-radius: 5px;
	background-color: var(--button-color);

	@media screen and (min-width: $medium) {
		min-width: 120px;
	}
}

.dropdown-text-container {
	height: 100%;
	text-align: center;
	display: flex;
	justify-content: center;
	align-content: center;
	flex-direction: column;
	position: relative;
	border-radius: 5px;
	transition: background 350ms;

	&:hover {
		background-color: var(--button-hover-color);
		cursor: pointer;
	}
}

.dropdown-text {
	color: var(--font-color);

	@media screen and (min-width: $medium) {
		position: absolute;
		left: 1em;
	}
}

.dropdown-arrow {
	position: absolute;
	right: 1em;
	top: 30%;
	color: var(--font-color);
	@media screen and (max-width: $medium) {
		position: absolute;
		left: 4.5em;
	}
	@media screen and (max-width: $small) {
		position: absolute;
		left: 4.5em;
	}
}

svg {
	fill: var(--font-color);
}

.dropdown-item-container {
	max-height: 12em;
	overflow-y: auto;
	border: var(--font-color) 1px solid;
	border-radius: 5px;
	margin-top: 0.2em;
	animation: fade-in 0.25s;
}

.dropdown-item {
	background-color: var(--button-color);
	padding: 1em;
	height: 1em;
	list-style: none;
	border-bottom: var(--font-color) 1px solid;
	color: var(--font-color);
	transition: background 350ms;

	&:only-child {
		padding: 1em;
		height: auto;
	}

	&:first-child {
		border-top: none;
	}

	&:last-child {
		border-bottom: none;
	}

	&:hover {
		background-color: var(--button-hover-color);
		cursor: pointer;
	}
}

.source-node {
	grid-column: 1 / 3;

	@media screen and (max-width: $extra-large) {
		grid-column: 1;
		grid-row: 1;
	}
}

.target-node {
	grid-column: 3 / 5;

	@media screen and (max-width: $extra-large) {
		grid-column: 2;
		grid-row: 1;
	}
}

.header-button {
	height: 50px;
	background-color: var(--button-color);
	color: var(--font-color);
	border: var(--font-color) 1px solid;
	border-radius: 5px;
	font-size: 0.9em;
	font-family: "Roboto", sans-serif;
	transition: background 350ms;

	@media screen and (min-width: $medium) {
		min-width: 120px;
		font-size: 0.9em;
	}
	@media screen and (min-width: $small) {
		font-size: 0.8em;
	}

	&:hover {
		background-color: var(--button-hover-color);
		cursor: pointer;
	}
}

.add-edge-one {
	grid-column: 5 / 7;

	@media screen and (max-width: $extra-large) {
		grid-column: 1;
		grid-row: 2;
	}
}

.add-edge-two {
	grid-column: 7 / 9;

	@media screen and (max-width: $extra-large) {
		grid-column: 2;
		grid-row: 2;
	}
}

.clear-canvas {
	grid-column: 9 / 11;

	@media screen and (max-width: $extra-large) {
		grid-column: 3;
		grid-row: 2;
	}
}

.toggle-container {
	grid-column: 16;
	grid-row: 1;

	@media screen and (max-width: $extra-large) {
		grid-column: 3;
		grid-row: 1;
	}

	margin: auto;
}

.toggle-switch {
	height: 0;
	width: 0;
	visibility: hidden;
}

.toggle-label {
	cursor: pointer;
	text-indent: -9999px;
	width: 52px;
	height: 27px;
	background: grey;
	float: right;
	border-radius: 100px;
	position: relative;
}

.toggle-label:after {
	content: "";
	position: absolute;
	top: 3px;
	left: 3px;
	width: 20px;
	height: 20px;
	background: #fff;
	border-radius: 90px;
	transition: 0.3s;
}

.toggle-switch:checked + .toggle-label {
	background: var(--color-headings);
}

.toggle-switch:checked + .toggle-label:after {
	left: calc(100% - 5px);
	transform: translateX(-100%);
}

.toggle-label:active:after {
	width: 45px;
}

@keyframes fade-in {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

html.transition,
html.transition *,
html.transition *:before,
html.transition *:after {
	transition: all 750ms !important;
	transition-delay: 0 !important;
}
