$small: 320px;
$medium: 768px;
$large: 1024px;
$extra-large: 1200px;

[data-theme="light"] {
	--header-color: #6002ee;
	--font-color: #121212;
	--button-color: #eeeeee;
	--canvas-color: #eeeeee;
	--button-hover-color: #dddddd;
	--color-headings: #0077ff;
	--background-color: #121212;
	--hover-color: #eeeeee;
}

[data-theme="dark"] {
	--header-color: #1f1b24;
	--font-color: #bb86f6;
	--button-color: #121212;
	--canvas-color: #121212;
	--button-hover-color: #2e243d;
	--color-headings: #03dac5;
	--background-color: #eeeeee;
	--hover-color: #121212;
}
