$small: 320px;
$medium: 768px;
$large: 1024px;
$extra-large: 1200px;

[data-theme="light"] {
	--header-color: #222831;
	--font-color: #121212;
	--button-color: #eeeeee;
	--canvas-color: #eeeeee;
	--button-hover-color: #dddddd;
	--color-headings: #0077ff;
	--background-color: #121212;
	--hover-color: #eeeeee;
	--snackbar-font-color: #eeeeee;
	--visualize-button-color: #eeeeee;
}

[data-theme="dark"] {
	--header-color: #0f3057;
	--font-color: white;
	--button-color: #white;
	--canvas-color: #121212;
	--button-hover-color: #03dac5;
	--color-headings: #03dac5;
	--background-color: #eeeeee;
	--hover-color: #121212;
	--snackbar-font-color: white;
	--visualize-button-color: #0f3057;
}
