.visualize-container {
	margin: auto;
	bottom: 0;
	left: 0;
	right: 0;
	min-width: 200px;
	width: 25vw;
	position: absolute;
}

.visualize-button {
	margin: auto;
	max-width: 100%;
	min-height: 20px;
	line-height: 100%;
	text-align: center;
	vertical-align: middle;
	padding: 1em;
	border: black 4px solid;
	border-top: none;
	background-color: #eeeeee;
	cursor: pointer;
}

.visualize-button:hover {
	border: black 4px solid;
	border-top: none;
	background-color: #cccccc;
}

.visualize-select {
	margin: auto;
	padding: 1em;
	width: 100%;
	border: black 4px solid;
	border-bottom: none;
}

.visualize-select:focus {
	outline: none;
}
