@import 'Variables';

.algorithm-dropdown-container {
	height: 50px;
	background-color: var(--visualize-button-color);
	border: var(--font-color) 1px solid;
	border-radius: 5px 5px 0 0;
	position: relative;
}

.algorithm-dropdown-text-container {
	height: 100%;
	text-align: center;
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-direction: row;
	transition: background 350ms;
	border-radius: 5px 5px 0 0;

	&:hover {
		background-color: var(--button-hover-color);
		cursor: pointer;
	}
}

.algorithm-dropdown-text {
	color: var(--font-color);
	margin-left: 0.5em;
}

.algorithm-dropdown-arrow {
	color: var(--font-color);
}

.algorithm-dropdown-item-container {
	position: absolute;
	width: 100%;
	bottom: 50px;
	margin-bottom: 0.5em;
	border-radius: 5px;
	overflow-y: auto;
	border: var(--font-color) 1px solid;
}

.algorithm-dropdown-item {
	background-color: var(--visualize-button-color);
	padding: 1em;
	list-style: none;
	border-bottom: var(--font-color) 1px solid;
	color: var(--font-color);
	transition: background 350ms;

	&:hover {
		background-color: var(--button-hover-color);
		cursor: pointer;
	}

	&:last-child {
		border-bottom: none;
	}
}

.visualize-container {
	margin: auto;
	bottom: 0;
	left: 0;
	right: 0;
	min-width: 200px;
	width: 25vw;
	position: absolute;
}

.visualize-button {
	margin: auto;
	max-width: 100%;
	min-height: 20px;
	line-height: 100%;
	text-align: center;
	vertical-align: middle;
	padding: 1em;
	border: var(--font-color) 1px solid;
	border-top: none;
	background-color: var(--visualize-button-color);
	color: var(--font-color);
	cursor: pointer;
	transition: background 350ms;

	&:hover {
		background-color: var(--button-hover-color);
	}
}

.visualize-select:focus {
	outline: none;
}
